<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/bts/BTS"
			class = "org.xtext.example.bts.bTS.BTSPackage"
			genModel = "model/generated/BTS.genmodel" />
	</extension>
</plugin>
